* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.intro-banner {
  margin-top: 100px;
  color: #333;
  max-width: 1200px;
  padding: 0 6.5%;
  width: 100%;
}

.intro-banner h1 { 
  margin: 0 auto;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
}
